---
import {
  getPostsByPage,
  getNumberOfPages,
} from '../../../lib/notion/client.ts'
import Layout from '../../../layouts/Layout.astro'
import PostsGrid from '../../../components/PostsGrid.astro'
import Pagination from '../../../components/Pagination.astro'
import styles from '../../../styles/blog.module.css'

export const prerender = true

export async function getStaticPaths() {
  const numberOfPages = await getNumberOfPages()

  let params = []
  for (let i = 2; i <= numberOfPages; i++) {
    params.push({ params: { page: i.toString() } })
  }
  return params
}

const { page } = Astro.params

const [posts, numberOfPages] = await Promise.all([
  getPostsByPage(parseInt(page, 10)),
  getNumberOfPages(),
])
---

<Layout title={`Posts ${page}/${numberOfPages}`} path={`/posts/page/${page}`}>
  <div slot="main" class={styles.main}>
    <PostsGrid posts={posts} />

    <footer>
      <Pagination
        currentPage={parseInt(page, 10)}
        numberOfPages={numberOfPages}
      />
    </footer>
  </div>

</Layout>

<style is:global>
  .post-card {
    transition: opacity 0.2s;
  }
  .post-card:hover {
    opacity: 0.7;
  }
</style>
