---
import type { Post } from '../lib/interfaces.ts'
import NoContents from './NoContents.astro'
import PostDate from './PostDate.astro'
import PostTags from './PostTags.astro'
import PostTitle from './PostTitle.astro'
import PostFeaturedImage from './PostFeaturedImage.astro'
import PostExcerpt from './PostExcerpt.astro'
import styles from '../styles/blog.module.css'

export interface Props {
  posts: Post[]
}

const { posts } = Astro.props
---

{
  posts.length === 0 ? (
    <NoContents contents={posts} />
  ) : (
    <div class={styles.postsGrid}>
      {posts.map((post) => (
        <div class={styles.post}>
          <div class={`${styles.card} post-card`}>
            <PostFeaturedImage post={post} />
            <div class={styles.postMeta}>
              <PostDate post={post} />
              <PostTags post={post} />
            </div>
            <PostTitle post={post} />
            <PostExcerpt post={post} />
          </div>
        </div>
      ))}
    </div>
  )
}
